---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Sobre Mí">
  <section class="about-container">
    <h1>Sobre Mí</h1>
    <p>Información sobre mi experiencia y habilidades.</p>
  </section>

  <style>
    .about-container {
      background-color: black;
      color: white;
      padding: 20px;
    }
  </style>
</Layout>
