---
import Layout from "../layouts/Layout.astro";
//import {socials, info} = Astro.url;

const { pathname } = Astro.url;

---
<Layout title="Proyectos">
  <section class="proyectos-container">
    <h1>Proyectos</h1>
    <p>Información sobre mis proyectos.</p>
  </section>

  <style>
    .proyectos-container {
      background-color: rgb(0, 106, 255);
      color: white;
      padding: 20px;
    }
  </style>
</Layout>
