---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Proyectos">
  <section class="proyectos-container">
    <h1>Proyectos</h1>
    <p>Información sobre mis proyectos.</p>
  </section>

  <style>
    .proyectos-container {
      background-color: rgb(255, 0, 0);
      color: white;
      padding: 20px;
    }
  </style>
</Layout>
